#################
# Project related
#################
!src/main/proto/hellowworld.proto


###############
# Intellij IDEA
###############
*.iml
.idea/

#######
# Maven
#######
target/
.mvn/

######
# Java
######
*.class
*.war
*.ear
# virtual machine crash logs
hs_err_pid*

#########
# Eclipse
#########
.classpath
.settings/
.project

#########
# Others
#########
*.orig
*.eclipse-pmd
*.stackdump
